* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 95vh;
    justify-content:center;
}

.imgBackground {
    background-size: cover;
    background-image: url("../img/hspm-pb.jpg");
    background-repeat: no-repeat;
    background-color: transparent;
}

form {
    display:flex;
    padding: 30px;
    box-shadow: 3px 3px 9px #29336b;
    background-color: #ffffff;
    border-radius: 10px;
 
}

table {
   padding: 15px;
}

.titleLogin {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3b7b92;
    font-size: 2rem;
    padding-bottom: 1rem;
    text-decoration: underline #29336b;
}

.marginTable{
    margin:0;
}

.centerTable{
    display:flex;
    justify-content:center;
    align-items:center;
}

.txtLabel {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}

.txtBox {
    height: 2rem;
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #3b7b92;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.buttonLogin {
    padding: 5px 15px;
    border: 2px solid #3b7b92;
    border-radius: 10px;
    background-color: #29336b;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 1rem;
}

    .buttonLogin:hover {
        border: 2px solid #29336b;
        background-color: #3b7b92;
        color: #ffffff;
        transition: 2ms;
    }

.imgFooter {
    
    background-image: url(../img/Logo_HSPM_Pref-01.jpg);
    width: 220px;
    height:auto;
}