:root {
    --azul-hspm: #29336b;
    --verde-hspm: #3b7b92;
    --branco: #ffffff;
}

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/*Header*/
.spaceHeader{
    width:100%;
    height: 60px;
    background-color:var(--azul-hspm);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0.5rem 1rem;
}

.imgHSPM{
    width: 6rem;
    height:auto;
}

.titleHeader {
    font-size: 2rem;
    color: var(--branco);
}

.imgPrefeitura{
    width: 8rem;
    height:auto;
}

/*Menu*/
.spaceMenu {
    background-color: #29336b;
    display: block;
    padding-left: 40px;
    padding-top: 100px;
    width: 13%;
    float: left;
    height: 100%;
    position: fixed;
    height: 100%;
}

.labelMenu {
    color: var(--branco);
    font-weight: 600;
    font-size: 1.2rem;
}

/*Conteúdo*/
.spaceContent {
    width: 87%;
    float: right;
    height: 100%;
    overflow: auto;
    padding: 90px 20px 30px 20px;
}

.spaceFooter {
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 2rem;
    background-color: var(--azul-hspm);
}

.paragraphFooter {
    margin:0.6rem 0;
    font-size: 0.8rem;
    color: var(--branco);
    letter-spacing: 0.1rem;
}
.retro {
    margin-left: -20px;
}


:root {
    --azul-hspm: #29336b;
    --verde-hspm: #3b7b92;
    --branco: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

/*Header*/
.space-header {
    width: 100%;
    height: 60px;
    background-color: var(--azul-hspm);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 17px;
}

.img-hspm {
    width: 90px;
}

.title-header {
    margin: 0;
    font-size: 1.5rem;
    color: var(--branco);
    letter-spacing: 0.4rem;
}

.img-prefeitura {
    width: 120px;
}

/*Main*/
main {
    flex: 1;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*Menu*/
.space-menu {
    background-color: #29336b;
    display: block;
    padding-left: 40px;
    padding-top: 120px;
    width: 13%;
    float: left;
    height: 100%;
    position: fixed;
    height: 100%;
}

.space-item {
    padding-bottom: 1rem;
}

.space-submenu {
    padding-bottom: 0.5rem;
}

.retro {
    margin-left: -20px;
}

.label-menu {
    color: var(--branco);
    font-weight: 600;
    font-size: 1.2rem;
}

ul, li, a {
    text-decoration: none;
}

.label-submenu {
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
}

.space-login {
    width: 100%;
    padding-top: 100%;
    align-content: center;
}

.div-login {
    width: 100%;
    flex-direction: column;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    padding-bottom: 20px;
}

.div-loggon {
    padding-left: 23px;
}

/*Conteúdo*/
.space-content {
    width: 87%;
    float: right;
    height: 100%;
    overflow: auto;
    padding: 65px 20px 30px 20px;
}

.title-content {
    font-size: 2rem;
    margin: 0;
    color: var(--azul-hspm);
    text-decoration: underline var(--verde-hspm);
    text-align: center;
    padding: 0 0 2rem 0;
}

/*Footer*/
.space-footer {
    font-size: 1rem;
    width: 100%;
    height: 30px;
    background-color: var(--azul-hspm);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-content: center;
    letter-spacing: 0.1rem;
}

@media(max-width:500px) {
    .space-header {
        width: 100%;
        height: 80px;
        background-color: var(--azul-hspm);
        display: flex;
        align-items: center;
        padding: 4px 20px 4px 17px;
    }

    .img-hspm {
        display: none;
    }

    .title-header {
        font-size: 0.5rem;
    }

    .img-prefeitura {
        display: none;
    }
}

@media (max-width: 1400px) {
    /*Header*/
    .space-header {
        height: 45px;
    }

    .img-hspm {
        width: 70px;
    }

    .title-header {
        margin: 0;
        font-size: 1.3rem;
    }

    .img-prefeitura {
        width: 90px;
    }

    /*Menu*/
    .space-menu {
        width: 15%;
        padding-left: 25px;
        padding-top: 60px;
    }

    .space-item {
        padding-bottom: 0.6rem;
    }

    .label-menu {
        font-size: 1rem;
    }

    .label-submenu {
        font-size: 0.9rem
    }

    .retro {
        margin-left: -17px;
    }

    .space-login {
        padding-top: 20%;
    }

    .div-login {
        padding-bottom: 5px;
    }

    /*Conteúdo*/
    .space-content {
        width: 85%;
        padding: 45px 15px 20px 15px;
    }

    .title-content {
        font-size: 1.7rem;
        padding: 0 0 1rem 0;
    }

    /*Footer*/
    .space-footer {
        font-size: 0.7rem;
        height: 20px;
    }
}